.container{
  display: grid;
  grid-template-columns: 50px 50px 50px 50px;
  grid-template-rows: 50px 50px 50px 50px 50px 50px;
  border: none;
  
}
.number{
  width: 50px;
  height: 50px;
  font-weight: 600;
  font-size: 16px;
  background-color: rgb(255,255,255,0.8);
  /* border-color: white;
  border-width: 1px; */
  border: none;
}
.number1{
  width: 100px;
  height: 50px;
  grid-column: span 2;
  font-weight: 600;
  font-size: 16px;
  background-color: rgb(255,255,255,0.8);
  /* border-color: white;
  border-width: 1px; */
  border: none;

}
input{
  width: 195px;
  height: 50px  ;
  background-color: rgb(0, 59, 80);
  border: none;
  grid-column: span 4;
  color: white;
  font-weight: 700;
  font-size: 16px;
}
body{
  background: linear-gradient(to right , rgb(0, 225, 255) , rgb(44, 228, 111));
}
.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}